# Dependencies
node_modules/
bower_components/

# IDE
.idea/
*.iml
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.min.js
!**/libs/*.min.js

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Cache
.cache/
.parcel-cache/
